body {background-color:#f7f7f7; margin:0; padding:0; padding-bottom:60px;}

.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

.container {width:960px; margin:0 auto;}

/*----------------------------------------------------------------------------------------------------------LOGIN*/
#loginContainer {width:565px; margin:160px auto;}
.loginBox {}
.loginHead {height:70px; background:url(../img/loginHead.jpg) no-repeat top left;}
.loginBody {background:url(../img/loginBody.jpg) repeat-y; padding:20px 25px 20px 20px;}
.loginBottom {height:15px; background:url(../img/loginBttm.jpg) no-repeat top left;}
.errorBox {
	height:40px; 
	background:#ffecec url(../img/errorIco.jpg) no-repeat left;
	border:1px solid #cc3333; 
	line-height:40px; 
	color:#900; 
	margin-bottom:20px; 
	padding:0px 40px;}

.formRow {margin-bottom:10px; margin-left:100px;}
.formLabel, .formInput{display:inline; float:left;}
.formLabel {width:100px; margin-right:30px;}
.formLabel span {color:#F00;}
.formInput {width:160px;}
/*----------------------------------------------------------------------------------------------------------Header*/
#headerWrapp {height:70px; background:url(../img/headBg.jpg) repeat-x; margin-bottom:20px;}

.sideBar, .mainContent {display:inline; float:left;}
.sideBar {width:170px; margin-right:40px;}

.sideTitle {background:url(../img/sideTitle.jpg) no-repeat; height:40px;}
.sideBody {width:150px; border-left:1px solid #dbdbdb; border-right:1px solid #dbdbdb; padding:10px 9px; background-color:#FFF;}
.sideBottom {background:url(../img/sideBottom.jpg) no-repeat; height:10px;}

.menuRow {margin-bottom:10px;}
.menuTitle h6 {height:30px; line-height:30px; padding-left:10px; background:url(../img/sideSubTtl.jpg) no-repeat;}
.menuTitle ul li {margin-right:10px;}
.menuTitle ul li a {
	height:30px; 
	line-height:30px; 
	background:url(../img/arrow.jpg) no-repeat left; 
	padding-left:10px; 
	display:block;
}

/*----------------------------------------------------------------------------------------------------------MAin*/
.mainContent {width:750px;}
#eventList h2 {}
.listName, .listDate, .listStatus {
	display:inline; float:left; height:30px; line-height:30px; width:240px; border-bottom:1px solid #e7e7e7; padding-left:10px;}

.pagination {margin-top:20px;}
.pagination a {padding:0px 6px; display:inline-block; margin:0 2px; border:solid 1px #e7e7e7;}
.pagination a:hover {background-color:#FFF; color:#900;}
.pagination a:active {color:#333;}
.pagination a:visited {color:#CCC;}

/*-----------------------------------------------------------------------------------------------------------Collumn*/
.coll1, .coll2, .coll3, .coll1b, .coll1c, .coll {display:inline; float:left; height:25px; line-height:25px; margin-right:10px;}
.coll {padding:0px 10px; width:60px;}
.coll1, .coll1b, .coll1c {width:140px;}
.coll2 {width:200px;}
.coll3 {width:300px;}
.collRow {margin-bottom:5px;}
.coll1b {border-bottom:1px solid #666;}
.coll1c {text-align:center;}

#eventDetail h6 {margin-top:20px;}

.seatingChart {border:1px solid #ccc; padding:10px;}
.seatColl {width:80px; display:inline; float:left;}
.seatRow {margin-bottom:20px;}


.completed {width:400px; text-align:center; border:1px solid #00cc00; margin-top:20px; background-color:#FFF; padding:100px 0px; line-height:40px;}


#pendingTicket .collRow h6, .searchRow, #bookedTicket .collRow h6, .searchRow, #waitingList .collRow h6, .searchRow,
#voidTicet .collRow h6, .searchRow
{display:inline; float:left;}
.searchRow {margin-left:160px;}
.searchRow .coll1 {text-align:right; padding-right:20px;}

/*---------------------------------------------------------------------------------------------------------- View All Details  + Report */

.listingForm { margin-bottom:20px; }

.formSubject a, .formSubject { font-weight:bold;} 

.tableRow { padding:10px; font-size:11px; }

.odd { background-color:#eeeeee; }

.sName, .sEmail, .sPhone, .sRefId, .sLevel, .sStatus, .sLevel, .sTicketAmount, .sAction, .sSection, .sSeatNumber, .sPrice {
	float:left; display:inline;
	overflow:hidden;
	width:100px;
	margin:0 10px 0 0;
	}

.sName { width:150px; }
.sRefId {width:50px; }
.sLevel { width:80px; }
.sEmail { width:180px; }
.sStatus { width:60px;}
.sPhone { width:110px;}

.sLevel { width:110px;}
.sTicketAmount { width:80px; text-align:center; }

.linkButton {margin:20px 0;}
.linkButton a { padding:10px 20px; border:1px solid#ccc; }

h6.subhead { margin-bottom:10px;}

.sSection, .sSeatNumber, .sPrice { width:200px;}


.orderdetailwrap { margin:10px 0;}
/*---------------------------------------------------------------------------------------------------------- Configuration */

.myRow { margin-bottom:10px; }
.lblCol, .inputCol, .levelLabel, .levelInfo  { float:left; display:inline; margin-right:10px;}
.lblCol { width:140px; }
.inputCol { width:400px;}

.levelRow { margin-bottom:20px; }
.levelLabel {width: 100px;}
.levelInfo { width: 200px; }

.booked {color:#ccc;}

.successBox {
	height:40px; 
	background:#f1ffe9 url(../img/successIco.jpg) no-repeat left;
	border:1px solid #0C0;
	line-height:40px; 
	color:#090; 
	margin-bottom:20px; 
	padding:0px 40px;}
	
.cancelBox {
	position:fixed;
	top:200px;
	margin-left:330px;
	z-index:100;
	background-color:#fffff2; border:2px solid #eada80; width:300px; text-align:center; padding:40px 0 60px 0;}
	
.admin {color:#CCC; float:right; font-size:10px; margin-top:-22px;}
.header img {float:left; margin-right:30px;}
.header h1 {padding-top:12px;}
